button {
  margin: 0.5rem;
  font-family: "Unkempt", cursive;
  background-color: #fcc34c;
  color: black;
  padding: 0.3rem;
  font-weight: bold;
}

/* Pressed Effect Reference : https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */
button:active {
  transform: translateY(4px);
}
