#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.character-option-div,
.option-result {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.option-result ol {
  text-align: left;
}
